
@{
    ViewBag.Title = "Insert";
}

<table class="table">
    <tr>
        <td class="mainText">
            <h2 class="mainText">Successful CREATED</h2>
        </td>
    </tr>
    <tr></tr>
    <tr>
        <td class="mainText">
            <a href="/Admin" class="btn btn-danger mainText">ADMIN PANEL</a>
        </td>
    </tr>
</table>

