
@{
    ViewBag.Title = "PayLog";
}
<table class="table">
    <tr>
        <td class="mainText">
            <h2 class="mainText">Successful</h2>
        </td>
    </tr>
    <tr>

    </tr>
    <tr>
        <td class="mainText">
            <a href="/Home" class="btn btn-danger mainText">HOME PAGE</a>
        </td>
    </tr>
</table>

